---
title: "Publications"
layout: archive
permalink: /publications/
author_profile: true
---

{% include base_path %}
{% assign sorted_publications = site.publications | sort: 'date' | reverse %}

{% for post in sorted_publications %}
{% include archive-single.html %}
{% endfor %}

<!-- Conference Publications
======

1. Yaojie Hu, Qiang Zhou, Qihong Chen, Xiaopeng Li, Linbo Liu, Dejiao Zhang, **Amit Kachroo**, Talha Oz, Omer Tripp,
**QualityFlow: An Agentic Workflow for Program Synthesis Controlled by LLM Quality Checks.** Click
[here](https://arxiv.org/pdf/2501.17167) to read.
2. Raghunandan M. Rao, **Amit Kachroo**, Koushik A. Manjunatha, Morris Hsu, Rohit Kumar, **Sub-Resolution mmWave FMCW
Radar-based Touch Localization using Deep Learning**, accepted in "IEEE VTC, Fall- 2024". Click
[here](https://arxiv.org/abs/2408.03485) to read.
3. **Amit Kachroo**, Sai Prashanth Chinnapalli, **Quantifying Uncertainty with Probabilistic Machine Learning Modeling
in Wireless Sensing**, published in "IEEE CCNC, 2023". Click [here](https://arxiv.org/abs/2210.06416) to read.
4. Halil Said Cankurtaran, **Amit Kachroo**, Wooyeol Choi, John O'Hara, Serhan Yarkan, Khalid A. Qaraqe, Mazen Omar
Hasna, Sabit Ekin, **"Propeller Effects on mmWave UAV Channels: A Statistical and Empirical Modeling Study"**, Published
in "IEEE BlackSeaCom, 2022". Click [here](https://ieeexplore.ieee.org/abstract/document/9858315) to read.
5. Collin A. Thornton, **Amit Kachroo**, He Bai, Sabit Ekin, and Wooyeol Choi, **"De-embedding Motion Artifacts from
Robotic Arm Assisted Propagation Measurements"**, accepted in "2021 IEEE Texas Symposium on Wireless and Microwave
Circuits and Systems (WMCS)". Click [here](https://ieeexplore.ieee.org/abstract/document/9493296) to read.
6. **Amit Kachroo**, Sabit Ekin, **"Impact of Secondary User Interference on Primary Network in Cognitive Radio
Systems"**, published in "88th IEEE VTC conference, 26-31 August 2018, Chicago, USA". Click
[here](https://arxiv.org/abs/1809.00446) to read.
7. Nann Win, **Amit Kachroo**, Mehmet Kemal Ozdemir, **"Reduced-Rank Joint Estimation of DOA with Mutual Coupling"**,
published in "26th IEEE Signal Processing and Communications Applications Conference, May 2018, Izmir, Turkey".
8. Turhan S. Dervish, Caleb G. Teague, Fangyao Liu, Adam Coffey, **Amit kachroo**, Sabit Ekin, Jerzy S. Krasinski,
**"Position at Response: A Novel highly Accurate and Low Cost Laser Positioning System"**, published in "ITELCON 2017,
Istanbul, Turkey".
9. **Amit Kachroo**, J Park, HW Kim, **"Channel assignment with transmission power optimization method for high
throughput in multi-access point WLAN"**, published in "IEEE 2015 International Wireless Communications and Mobile
Computing Conference (IWCMC), 314-319, 2015, Croatia". Click
[here](http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=7289102&tag=1) to read.
10. **Amit Kachroo**, Mehmet Kemal Ozdemir, Hatice Tekiner-Mogulkoc, **"Optimization of LTE Radio Resource Block
Allocation for Maritime Channels"**, published in "37th IEEE Sarnoff Symposium 2016, Newark, USA". Click
[here](http://ieeexplore.ieee.org/abstract/document/7846771/)

Journal Publications
======

1. **Amit Kachroo**, Collin A. Thornton, Md Arifur Rahman Sarker, Wooyeol Choi, He Bai, Ickhyun Song, John O'Hara, and
Sabit Ekin, "Emulating UAV Motion by Utilizing Robotic Arm for mmWave Wireless Channel Characterization", published in
"IEEE Transactions on Antennas and Propagation, 2021". Click here to read.
2. **Amit Kachroo**, Surbhi Vishwakarma, Jacob N Dixon, Hisham Abuella, Adithya Popuri, Qammer H Abbasi, Charles F
Bunting, Jamey D Jacob, Sabit Ekin, "Ultra-wideband Channel Measurements and Modeling for Unmanned Aerial
Vehicle-to-Wearables (UAV2W) Systems", published in "Autonomous Airborne Wireless Networks, Chapter 3, John Wiley &
Sons, Ltd., July 2021". Click here to read.
3. **Amit Kachroo**, Adithya Popuri, Mostafa Ibrahim, Ali Imran, Sabit Ekin, "Interference Spreading through Random
Subcarrier Allocation Technique and Its Error Rate Performance in Cognitive Radio Networks", published in "MDPI Sensors,
07-October-2020". Click here to read.
4. **Amit Kachroo**, S. Ekin, and A. Imran, “Statistical Modelling of Dynamic Interference Threshold and its Effect on
Network Capacity”, published in "IEEE Transactions on Vehicular Technology, pp. 1–1, 2020".
5. **Amit Kachroo**, Surbhi Vishwakarma, Jacob N Dixon, Hisham Abuella, Adithya Popuri, Qammer H Abbasi, Charles F
Bunting, Jamey D Jacob, Sabit Ekin, "Unmanned aerial vehicle-to-wearables (UAV2W) indoor radio propagation channel
measurements and modeling", published in "IEEE Access, May 2019". Click here to read.
6. Nann Win Moe Thet, **Amit Kachroo**, Mehmet Kemal Ozdemir, "Extended reduced‐rank joint estimation of direction of
arrival with mutual coupling for coherent signals", published in "Transactions on Emerging Telecommunications
Technologies, April 2019". Click here to read.
7. HW Kim, **Amit Kachroo**, "Low Power Routing and Channel Allocation of Wireless Video Sensor Networks Using Wireless
Link Utilization", published in "Ad Hoc and Sensor Wireless Networks, 30 (1-2), 83-112, 2016, New York, USA". Click here
to read. -->