---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

<style>
    .research-intro {
        font-size: 1.1em;
        line-height: 1.6;
        margin-bottom: 2.5em;
        color: #494e52;
    }

    .research-item {
        margin-bottom: 3em;
        padding-bottom: 2em;
        border-bottom: 2px solid #f0f0f0;
    }

    .research-item:last-child {
        border-bottom: none;
    }

    .research-number {
        display: inline-block;
        background-color: #52adc8;
        color: white;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        border-radius: 50%;
        font-weight: bold;
        margin-right: 0.5em;
        vertical-align: middle;
    }

    .research-title {
        display: inline;
        font-size: 1.5em;
        font-weight: bold;
        color: #494e52;
        vertical-align: middle;
    }

    .research-header {
        margin-bottom: 0.5em;
    }

    .research-meta {
        font-size: 0.9em;
        color: #7a8288;
        margin-bottom: 1em;
        margin-left: 2.5em;
    }

    .research-content {
        line-height: 1.6;
        margin-bottom: 1em;
    }

    .research-content h2,
    .research-content h3 {
        font-size: 1.2em;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        color: #494e52;
    }

    .research-content img {
        max-width: 70%;
        height: auto;
        margin: 1.5em auto;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        display: block;
    }

    .research-content p:has(img)+p {
        text-align: center;
        font-style: italic;
        color: #7a8288;
        margin-top: -1em;
    }
</style>

<p class="research-intro">
    Below are several research directions I have pursued throughout my present work at AWS, Amazon Lab126, and during my
    Ph.D.
</p>

{% assign research_items = site.research | reverse %}
{% for post in research_items %}
<div class="research-item">
    <div class="research-header">
        <span class="research-number">{{ forloop.index }}</span>
        <h2 class="research-title">{{ post.title }}</h2>
    </div>

    <div class="research-meta">
        {% if post.date %}
        {{ post.date | date: "%B %Y" }}
        {% endif %}
        {% if post.venue %}
        | {{ post.venue }}
        {% endif %}
    </div>

    <div class="research-content">
        {{ post.content }}
    </div>

</div>
{% endfor %}